page-mecanico {
    .som{
        background-color: #095070;
        height: 28%;
    }
    img{
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding:0px;
        width: 60%;
        display:block;
        margin:auto;
        margin-top: -25%;
    }
}
